body{
    background-color: #283149;
    text-align: center;
}
.title{
    font-family: 'Arvo', cursive;
    font-size: 3.5rem;
    color:#EEE;
    text-shadow: 3px 0 #DA0463;
}

footer{
  color: #DBEDF3;
  font-family: sans-serif;
  margin-top: 9rem;
}
.set{
    display: inline-block;
    margin:5% auto;
    font-size: 2em;
}
.drum{
    height:140px;
    width:140px;
    font-size: 4rem;
    font-weight: bold;
    color:rgb(221, 97, 97);
    text-shadow: 3px 0 #eeeeeeb5;
    border-radius: 10% ;
    box-shadow: 3px 3px rgba(128, 128, 128, 0.542);
    margin-left: 10px;
    margin-right: 10px;
}
.pressed{
    box-shadow:0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}
.w{
  background-image: url(./images/tom1.png);
}
.a{
    background-image: url(./images/tom2.png);
}
.s{
    background-image: url(./images/tom3.png);
}
.d{
    background-image: url(./images/tom4.png);
}
.j{
    background-image: url(./images/snare.png);
}
.k{
    background-image: url(./images/crash.png);
}
.l{
    background-image: url(./images/kick.png);
}
